# ===========================
# IGNORAR CONFIGURAÇÕES LOCAIS, ARQUIVOS TEMPORÁRIOS E BUILDS
# ===========================

# Arquivos temporários e de sistema
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.history
.svn/
migrate_working_dir/

# Arquivos gerados pela documentação
**/doc/api/

# ===========================
# IGNORAR AMBIENTES DE DESENVOLVIMENTO
# ===========================

# Visual Studio Code
.vscode/

# Android Studio e IntelliJ
*.iml
*.ipr
*.iws
.idea/

# ===========================
# FLUTTER / DART
# ===========================

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
.packages
/build/
**/ios/Flutter/.last_build_id

# ===========================
# ARQUIVOS SENSÍVEIS
# ===========================

*.env
*.key
*.secret
.env.*
.secrets/

# ===========================
# ARTEFATOS DE SIMBOLICAÇÃO / OFUSCAÇÃO
# ===========================

app.*.symbols
app.*.map.json

# ===========================
# BUILD ANDROID
# ===========================

/android/app/debug
/android/app/profile
/android/app/release
